.body-container {
    @media screen and (min-width: 1440px) {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }

    @media screen and (min-width: 1500px) {
        justify-content: center;
    }

    &__left-section {
        position: relative;
    }
    
  }


  
  