.popup-bg {
@include modal-bg
}

.burger-popup {
    visibility: visible;
    box-sizing: border-box;
    z-index: 2;
    position: absolute; 
    top: 0;
    left: -100vw;
    transition: 0.2s;
    width: 320px;
    min-height: 100vh;
    padding: 18px 24px 32px;
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $main-text-color; 
    background: #FFFFFF;
    @media screen and (min-width: 1440px) {
        left: 29px;
        position: sticky;
        width: 305px;
        padding: 30px 27px 32px 20px;
    }

    &--active-burger-popup {
      left: calc((100% - 320px) / 2);
      @media screen and (min-width: 768px) {
          left: calc((100% - 768px) / 2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
      }
    }

    &--hide {
      z-index: 1;
    }

  }
  
  .burger-popup-header {
    display: flex;
    justify-content: space-between; 

    &__logo-and-close-btn {
        display: flex;
        gap: 17px;
      }
  }
  
  .burger-popup-btn {
    @include modal-btn;

    &__close {
        background-image: url(../img/icons/close.svg);
    
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }

    &__text {
        position: absolute;
        opacity: 0;
    }

    &__search {
        background-image: url(../img/icons/search.svg);
    }
  }

  .burger-popup-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0;

    @media screen and (min-width: 1440px) {
        padding-left: 4px;
        margin-top: 36px;
    }   
    
    &__item {
        list-style-type: none;
        margin-bottom: 32px;
        margin-top: 0;
        position: relative;

        @media screen and (min-width: 1440px) {
            margin-bottom: 26px;
        } 
        
        &:hover {
          color: $modal-window-text;
          cursor: pointer;
        }

        &:hover::before {
          content: "";
          position: absolute;
          top: -5px;
          left: -23px;
          width: 4px;
          height: 32px;
          background-color: $grey;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
    }

    &__item_active {
        color: $modal-window-text;
    }

    &__item_active::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -23px;
        width: 4px;
        height: 32px;
        background-color: $blue-decorate-element;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }

  }
  
  .burger-popup-contacts {
    margin-top: 210px;
  }
  
  .burger-popup-contacts__btns {
    display: flex;
    gap: 16px
  }
  
  .burger-popup-btn__call {
    background-image: url(../img/icons/call.svg);
  }
  
  .burger-popup-btn__message {
    background-image: url(../img/icons/chat.svg);
  }
  
  .burger-popup-btn__contact {
    background-image: url(../img/icons/profile.svg);
  }
  
  .burger-popup-contacts__email {
    display: block;
    margin-top: 16px;
    text-decoration: none;
    color: $main-text-color;
  }
  
  .burger-popup-contacts__phone {
    display: block;
    margin-top: 12px;
    text-decoration: none;
    color: $main-text-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }
  
  .burger-popup-lang {
    display: flex;
    gap: 7px;
    margin-top: 40px;
    padding: 0;
  }
  
  .burger-popup-lang__item {
    list-style-type: none; 
    
    &:hover {
      color: $modal-window-text;
      cursor: pointer;
    }
  }
  
  .burger-popup-lang__item_active {
    color: $modal-window-text;
  }