$white: #fff;
$h1-color: #1B1C21;
$h2-color: #7E7E82;
$text-color: #1B1C21;
$grey: #EAEAEA;
$blue-decorate-element: #41F6D7;
$border-menu-color-active: #B8FFEC;
$bg-color-menu-item-active: #FFFFFF;
$menu-link-color: #7E7E82;
$btn-border: #FF3E79;
$pagination-bullet-color: #DDDDDD;
$pagination-bullet-active-color:#B5B6BC;
$price-slide-before: #7E7E82;
$footer-text-color: #7E7E82;
$burger-btn-after: #EAEAEA;
$repair-shadow-hover: #868686;
$decorate-price-line-color: #EAEAEA;
$modal-window-text: #7E7E82;
$modal-window-link: rgba(255, 62, 121, 1);
$decorate-section-line-color: #D9FFF5;

$main-background: #F8F8F8;
$footer-background: #F8F8F8;
$main-text-color: #1B1C21;
$menu-text-color: #7E7E82 ;
