@mixin font-face($url, $weight) {
  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/#{$url}.woff2') format('woff2'),
         url('../fonts/#{$url}.woff') format('woff');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}
